---
layout: default
pagination:
  enabled: false
---
<!-- The main content area -->
<div class="posts-4">
  <div class="grid-xlarge">
  <!--  <div class="pilowlava soft a-shadow">
      <h1>tienda/taller</h1>
    </div>-->
    <div class="posts-4__container" itemscope itemtype="http://schema.org/Blog" data-columns>
      {% for post in site.posts %}
        {% if post.categories contains "shop" %}
        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        {% include post-card-shop.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
 <!--{% include pagination.html %}-->
</div>
