---
layout: default
pagination:
  enabled: false
---
<!-- The main content area -->
<div class="posts">
  <div class="grid-xlarge">
    <div class="posts-2__container" itemscope itemtype="http://schema.org/Blog" data-columns>
      {% for post in site.posts %}
        {% if post.categories contains "obra" %}
        {% include post-card-home.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
 {% include pagination.html %}
</div>
