<!-- The footer at the very bottom of the screen -->

{% if paginator.next_page %}
  <script>
    var maxPages = parseInt('{{ paginator.total_pages }}');
  </script>
{% endif %}
<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
