<nav >
    {% assign navurl = page.url | remove: 'index.html' %}
        <ul class="header__list">
    {% for item in include.nav %}
      <li>
        <a href="{{ item.url }}">
            {% if item.url == navurl %}
              <b class="a-shadow">{{ item.text }}</b>
            {% else %}
            {{ item.text }}
            {% endif %}
          </a>
      </li>
    {% endfor %}
      </ul>
</nav>
