
    <section class="project-navigation">
      <div class="container">
        {% if page.previous and page.previous.categories contains "shop" %}
        <a title="Previous {{ page.previous.project.title }}" href="{{ page.previous.url | prepend: site.baseurl }}" class="prev">
          <span class="h2">Anterior</span>
          <h2>{{ page.previous.project.title }}</h2>
        </a>
        {% endif %}
        {% if page.next and page.next.categories contains "shop" %}
        <a title="Next {{ page.next.project.title }}" href="{{ page.next.url | prepend: site.baseurl }}" class="next">
          <span class="h2">Siguiente</span>
          <h2>{{ page.next.project.title }}</h2>
        </a>
        {% endif %}
      </div>
    </section>
