<nav>
  <ul class="header__list">
    <li><a href="{{ '/' | prepend: site.baseurl }}">Obra</a></li>
    <li><a href="{{ '/porfolio' | prepend: site.baseurl }}">Porfolio/Work</a></li>
    <li><a href="{{ '/' | prepend: site.baseurl }}">Tienda/Shop</a></li>
    <li><a href="{{ '/' | prepend: site.baseurl }}">Contacto</a></li>
    <!--<li><span class="popup__open">Contacto</span></li>-->
  </ul>
</nav>
