
<article class="posts__post center-portfolio" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    {% if post.inicio contains "inicio" %}
    <figure class="posts__img center-img">
      <img class="lazyload" src="{{ post.img-inicio }}" alt="{{ post.title }}" data-aos="zoom" itemprop="image"/>
    </figure>
    {% endif %}
    {% if post.image %}
      <figure class="posts__img center-gif">
        <img class="lazyload" src="{{ post.image }}" alt="{{ post.title }}" data-aos="zoom" itemprop="image"/>
      </figure>
    {% endif %}
    {% if post.video %}
      <figure class="posts__img">
        <video src="{{ post.video }}" autoplay="true" >
        </video>
      </figure>
    {% endif %}
   <a class="posts__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
    <div>
    <!--  <h2 class="posts__text"><strong itemprop="name">{{ post.title }}</strong></br>-->
    <!--# <span itemprop="description">{{ post.date | date: "%Y"  }}-->
    </div>
  </a>
  </article>
  <article class="posts__post center-gif" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  {% if post.separador contains "separador" %}
  <figure class="posts__img ">
    <img class="lazyload" src="{{ post.img-separador }}" alt="{{ post.title }}" data-aos="zoom" itemprop="image"/>
  </figure>
  {% endif %}
 </article>
