<article class="posts__post center-portfolio" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
<a class="posts__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
    {% if post.image %}
      <figure class="posts__img">
        <img class="lazyload" src="{{ post.image }}" alt="{{ post.title }}" data-aos="zoom" itemprop="image"/>
      </figure>
    {% endif %}
    {% if post.video %}
      <figure class="posts__img">
        <video src="{{ post.video }}" autoplay="autoplay" controls="controls" mute="{{ post.mute | default: false}}" >
        </video>
      </figure>
    {% endif %}
  <h2 class="posts__text text-work arial"><strong itemprop="name">{{ post.title }}</strong><br></h2>
</a>
    <div>
        <p class="soft text-work arial" itemprop="name">#{{ post.description }}</p>
        <a class="soft a-shadow text-work arial" href="{{ post.client.link }}">{{ post.client.name }}</a><br>
        <a class="soft a-shadow text-work arial" href="{{ post.client.link }}">{{ post.client.name2 }}</a><br>
        <p class="soft text-work arial"># {{ post.date | date: "%Y"  }}</p>
    </div>
   </article>
