<article class="posts-tienda__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

    {% if post.image %}
       <a class="posts__link" href="{{ post.url | prepend: site.baseurl }}"itemprop="url">
      <figure class="posts__img">
        <img class="lazyload" src="{{ post.image }}" alt="{{ post.title }}" data-aos="zoom" itemprop="image"/>
      </figure>

    {% endif %}

    <div class="mb-3 oval-center">
      <h3 class="posts__text">{{ post.title }}</h3>
      <h3 class="posts__text">{{ post.subtitle }}</h3>
      <span itemprop="description">#{{ post.date | date: "%Y"  }}</span>
    </div>
  </a>

    <div class="pt-3 posts__text oval-center">
<a class="soft oval oval-center" href="{{ site.baseurl }}{{ post.link-pago}}" target="_blank"> ${{ post.precio }} </a>
    </div>
 </article>
