
<div class="posts">
  <div class="grid">
      <div class="owl-carousel owl-theme mb-3">
      {% for img in page.images-array %}
        <img src="{{ site.basurl }}/{{ img.image }}" alt="{{ item.alt }}">
        {% endfor %}
      </div>
         {{ content }}
   </div>
</div>
