<div class="col-md-6 soft mb-3">
  <div class="oval-item-tienda mb-2">
  <a class="soft oval" href="{{ site.baseurl }}{{ page.link-pago}}"> ${{ page.precio }} </a>
  </div>
  <p class="oval-center" style="font-size: 0.7rem;">adquirir {{ include.text }}</p>
</div>
