<script src="{{ site.baseurl }}/assets/js/owl.carousel.js"></script>
<script src="{{ site.baseurl }}/assets/js/lazysizes.min.js"></script>
<script type="text/javascript">
    jQuery('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        autoplay:true,
        autoplayTimeout:5000,
        nav: true,
        navText:["<div class='nav-btn prev-slide'></div>","<div class='nav-btn next-slide'></div>"],
        responsive:{
            0:{
                items:1
            },
            600:{
                items:1
            },
            1000:{
                items:1
            }
        }
    })
    </script>
