---
layout: contacto
pagination:
  enabled: true
  style: contacto
---
<!-- The main content area -->
<style media="screen">
  .w-50px{
    width: 50px;
  }
</style>
<div class="posts">
  <div class="grid-xlarge row">
  <div class="col-md-4 b-alpha">
    <div class="soft contacto" style="padding-top: 1rem;">
      <h3 style="font-size: 3rem;">KITEREA</h3>
      <h3> <a class="soft a-shadow" href="https://www.instagram.com/kiterea/" target="_blank">@kiterea</a></h3>
      <h3>WWW.KITEREA.COM.</h3>
      <div style="margin-top: 1rem;">
            <p>Creadora autodidacta de contenido visual con base en Buenos Aires, Arg.
              Su trabajo surge de una mixtura entre lo manual y lo digital. Elabora imágenes con material
              encontrado, manteniendo siempre un rasgo experimental e intempestivo.
              Enfoca su hacer desde diversas perspectivas: diseño gráfico y editorial, ilustración, collage,
              grabado, serigrafía, fanzines y pequeñas publicaciones.
              </p>
      </div>
      <h3 style="margin-bottom: 2rem;">Escribime para trabajar junt*s :)</h3>
      <div class="post m-auto">
          <a href="https://www.behance.net/pierinalatac87" target="_blank"><img class="w-50px" src="/assets/images/be.png" alt="cafecito"></a>
          <a href="https://www.instagram.com/kiterea/" target="_blank"><img class="w-50px" src="/assets/images/igt.png" alt="cafecito"></a>
          <a href="https://t.me/kiterea" target="_blank"><img class="w-50px" src="/assets/images/tl.png" alt="cafecito"></a>
      </div>
    </div>
    <form class="mt-3" action="https://formspree.io/f/mleovbna" method="POST">
      <div class="col-12">
        <div class="row">
          <div class="col-md-6 mb-3">
            <input class="form-control sporting" type="text" name="name" placeholder="nombre o alias*" required>
          </div>
          <div class="col-md-6 mb-3">
            <input class="form-control sporting" type="email" name="_replyto" placeholder="E-mail*" required>
          </div>
        </div>
        <div class="">
          <textarea rows="8" class="form-control mb-3 sporting" name="message" placeholder="Mensaje*" required></textarea>
        </div>
        <input class="btn btn-dark mb-5" type="submit" value="Send">
      </div>
    </form>
      <div class="soft arial text-work mt-2 b-alpha">
        <p style="padding: 0.5rem;">diseño by @kiterea maquetado web y host en <a class="soft a-shadow" href="https://copiona.com">copiona.com</a> by <a class="soft a-shadow" href="https://twitter.com/librenauta">@librenauta</a></p>
      </div>
    </div>
    <div class="col-md-5">
    </div>
    <div style="padding: 0.5rem; font-size:0.9rem; height: 100%;" class="col-md-2 b-alpha text-uppercase">
      <a href="https://cafecito.app/kiterea" target="_blank"><img class="w-100" src="/assets/images/cafecito.png" alt="cafecito"></a>
      <p class="soft" style="margin-top: 1rem;">LICENCIA</p>
      <p class="soft arial mt-2" style="margin-top: 1rem;">TODAS LAS IMAGENES FUERON COMPUESTAS POR <a class="soft a-shadow" href="https://www.instagram.com/kiterea/" target="_blank">@KITEREA.</a><br>
        LA LICENCIA DEL CONTENIDO DE ESTA PÁGINA ES PPL (LICENCIA DE PRODUCCIÓN DE PARES) COMPARTIR - COPIAR, DISTRIBUIR, EJECUTAR Y COMUNICAR PÚBLICAMENTE LA OBRA TANTO COMO HACER OBRAS DERIVADAS BAJO LAS CONDICIONES DE:
        <ul class="soft" style="margin-top: 1rem;">
          <li>1- ATRIBUCIÓN</li>
          <li>2- COMPARTIR BAJO LA MISMA LICENCIA</li>
          <li>3- NO CAPITALISTA</li>
        </ul>
      </p>
      <p style="margin-top: 1rem;">
        <a class="soft a-shadow" href="https://endefensadelsl.org/ppl_deed_es.html" target="_blank">CLICK ACÁ PARA MÁS INFORMACIÓN SOBRE LA LICENCIA</a>
      </p>
    </div>
  </div>
</div>
