//----------------------------------------------
//  Config
//
//  01: Font variables
//  02: Media Queries
//  03: Colors
//  04: Z-indexes
//  05: Misc
//----------------------------------------------

//----------------------------------------------
// Fonts
//----------------------------------------------
$font: "Sporting", sans-serif;
$font-post: "Sporting", serif;

//----------------------------------------------
// Fonts: Lineheight
//----------------------------------------------
$base-lineheight: 1;

//----------------------------------------------
// Fonts: Size variables
//----------------------------------------------
$font-small: 0.9em;
$font-xsmall: 0.8em;
$font-xxsmall: 0.7em;
$font-xxxsmall: 0.6em;

//----------------------------------------------
// Media Queries
//----------------------------------------------
// Smallest phone
$mq-xsmall: 22em;
// Phone
$mq-small: 32em;
// Tablet
$mq-med: 54em;
// Laptop
$mq-large: 65em;
// Past laptop
$mq-xlarge: 91em;
// Mid-size monitor
$mq-xxlarge: 115em;
// Thunderbold goes to 157em
$mq-xxxlarge: 130em;

//----------------------------------------------
// Colors
//----------------------------------------------
$color-alpha: #f00;

$color-white: #000;
$color-lightgrey: #f8f8f8;
$color-grey: #bbb;
$color-darkgrey: #aaa;
$color-black: #fff;

//----------------------------------------------
// Z-indexes
//----------------------------------------------
$z-999: 999;
$z-998: 998;
$z-99: 99;
$z-9: 9;
$z-5: 5;
$z-2: 2;
$z-1: 1;
$z-0: 0;

//----------------------------------------------
// Grid
//----------------------------------------------
$max-width: 45em;
$max-width--lg: $mq-large;
$max-width--xl: 81em;

//----------------------------------------------
// Misc
//----------------------------------------------
$header-height: 3em;
$border: 1px solid rgba($color-black, 0.1);

$ease-cb-1: cubic-bezier(0.4, 0, 0.2, 1);
$ease-cb-2: cubic-bezier(0.19, 1, 0.22, 1);
$ease-cb-3: cubic-bezier(0.77, 0, 0.175, 1);

$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);

$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
