//----------------------------------------------
// Family: Pilowlava
//
// Regular: 400
//----------------------------------------------

// Regular
@font-face {
  font-family: 'Pilowlava';
  font-style: normal;
  font-weight: 400;
  src: local('Pilowlava'), local('Pilowlava'), url(font/Pilowlava-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
