//----------------------------------------------
// Sep
//----------------------------------------------
.sep {
  height: 1px;
  width: 100%;
  margin: {
    top: 0;
    bottom: 0;
  }

  border: 0;
  background-color: rgba($color-black, 0.1);
}

.sep--white {
  @extend .sep;

  background-color: rgba($color-white, 0.6);
}

//----------------------------------------------
// Hidden
//----------------------------------------------
.hidden {
  display: none;
}

.r {
right: 0;
}
