//----------------------------------------------
// Header
//----------------------------------------------
.header {
  @extend %letter-spacing;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-999;

  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-height;
  width: 100%;

  background-color: transparent;
  /*border-bottom: $border;*/

  @media (min-width: $mq-small) {
/*    padding: {
      right: 2em;
      left: 2em;
    }*/
  }

  &__title {
    @extend %font-header;

    font-size: $font-xsmall;
    color: $color-black;
  }

  &__list {
    @extend %no-list-style;

    display: flex;
    align-items: center;
    justify-content: space-around!important;

    & > * {
      @extend .header__title;

      &:not(:last-child) {
        margin-right: 1em;

        @media (min-width: $mq-small) {
          margin-right: 10em;
        }
      }

      a {
        color: $color-black;
      }
    }
  }
}
