---
layout: default
pagination:
  enabled: false
---
<!-- The main content area include post-card-work.html-->
<div class="posts">
  <div class="grid-xlarge">
    <div class="posts-2__container" itemscope itemtype="http://schema.org/Blog" data-columns>
      {% for post in site.posts %}
        {% if post.categories contains "work" %}
        {% include post-card-work.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
 <!--{% include pagination.html %} if true for post in paginator.post -->
</div>
