---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>

  {% include head.html %}

</head>

<body id="{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}" class="{{ page.layout | downcase }}-layout"
style="background: url('/assets/images/contacto.png') top center fixed; background-size: cover; !important;">

  {% include header.html %}

  <main class="💈">

    {{ content }}

  </main>

{% include footer.html %}

</body>
</html>
