---
layout: default
---
<div class="post">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post__header section-padding--double">
      <div class="grid-small soft">
        <h2 itemprop="name headline soft">{{ page.title }}</h2>

        <time class="post__date soft" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b %Y" }}</time>
      </div>
    </div>

    {% if page.image %}
      <div class="post oval-center">
        <img src="{{ page.image }}" alt="{{ page.title }}">
      </div>
    {% endif %}
    {% if page.video %}
      <figure class="posts__img center-gif">
        <video src="{{ page.video }}" autoplay="autoplay" loop="loop" controls="controls"  >
        </video>
      </figure>
    {% endif %}

    <div class="post__content section-padding">
      <div class="grid">
        <div id="markdown" itemprop="articleBody">
          {{content}}
        </div>
<div class="oval-card-shop soft">
      <p>compartí en</p>
</div>
        {% include share.html %}
      </div>
    </div>

  </article>
</div>

<!-- Links to Previous/Next posts -->
{% assign relatedTag = page.tags | first %}
{% if relatedTag %}
  <section class="related section-padding">
    <div class="grid-xlarge">
      <h2 class="related__title soft">Ver más</h2>
      <div class="related__container">
        {% for post in site.tags[relatedTag] limit: 3 %}
          <article class="related__post">
            <a class="related__link" href="{{ post.url | absolute_url }}">
              {% if post.image %}
                <figure class="related__img">
                  <img src="{{ post.image }}" alt="{{ post.title }}"/>
                </figure>
              {% endif %}
              <div>
                <h2 class="related__text">{{ post.title }}</h2>
              </div>
            </a>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
