//----------------------------------------------
//  Main Styling Build
//
//  Fonts:      Fonts, icons
//  Tools:      Configs, variables, extends, mixins
//  Base:       Styles for base level elements
//  Vendor:     Vendor specific styles
//  Regions:    Main layouts
//  Components: Modular components -> Most styles
//  Utils:      Helper classes, utilities, animations
//----------------------------------------------

.a-shadow {
  text-shadow: 0px 0px 20px #fff !important;
}
nav {
  width: 100%;
    font-family: 'Sporting';
}
ul{
  list-style-type: none;
}
.oval {
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
     border-style: solid;
     border-width: thin;
     padding: 10px 15px;
     &:hover {
         background: #fff;
         color: #000;
         border-style: none;
     }
}
.oval-item-tienda{
  text-align: center;
  font-size: x-large;
  margin-top: 5%;
}
.oval-card-shop{
  text-align: center;
  margin-top: 30px;
}
.oval-right{
  text-align: right;
}
.oval-center{
  text-align: center;
}
.center-portfolio{
  max-width: 650px;
}
.center-post{
  margin: 0 23% !important;
}
.center-img{
  margin: 0 33% !important;
}
.center-gif{
  margin: auto 15% !important;
}
.soft {
    color: #fff;
}
.pilowlava{
    font-family: 'Pilowlava';
}
.sporting{
    font-family: 'Sporting';
}
.arial{
    font-family: 'Arial';
}
.contacto{
    text-align: end;
    font-family: 'Sporting';
    line-height: 1.5;
}
//form
.form-group {
    margin-bottom: 1rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}
.form-control {
    display: block;
    width: 100%;
  /*  height: calc(1.5em + .75rem + 2px);*/
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.mb-2{
    margin-bottom: 2rem !important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.mb-4, .my-4 {
    margin-bottom: 3rem !important;
}
.mb-5, .my-5 {
    margin-bottom: 5rem !important;
}
.mb-10, .my-5 {
    margin-bottom: 10rem !important;
}
.pt-3 {
  padding-top:1rem !important;
}
.btn-dark {
    color: #fff;
    background-color: #111;
}

.textarea {
    overflow: auto;
    resize: vertical;
}

.col-12 {
    position: relative;
    width: 100%;
}
.col-md-6 {
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}
.col-md-4 {
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}
.col-md-5 {
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}
.col-md-2 {
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}
@media (min-width: 768px) {
.col-md-6, {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-md-4, {
      flex: 0 0 33%;
      max-width: 33%;
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
    .col-md-5, {
        flex: 0 0 38%;
        max-width: 38%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
      }
    .col-md-2, {
        flex: 0 0 28%;
        max-width: 28%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
      }
    .center-portfolio{
    max-width: 100% !important;
    }
}
.img-slide{
 max-height: 500px;
}
.text-work{
  font-size: .8rem;
}
.b-alpha{
  background: #000;
}

@media (max-width: 768px) {
  .center-post{
    margin-right: -1em !important;
    margin-left: -1em !important;
}
}
@media (max-width: 450px) {
  .header__list{
   font-size:.6em !important;
  }
  .center-portfolio{
  max-width: 100% !important;
  }
  .center-post{
    margin-right: -1em !important;
    margin-left: -1em !important;
}
.center-gif{
  margin: auto auto !important;
}

}

//----------------------------------------------
// Fonts
//----------------------------------------------
@import 'fonts/_roboto';
@import 'fonts/_lora';
@import 'fonts/_Pilowlava';
@import 'fonts/_Sporting';
@import 'fonts/_icons';

//----------------------------------------------
// Tools: Main Config & Global Variables
//----------------------------------------------
@import 'tools/_config';

//----------------------------------------------
// Tools: Mixins
//----------------------------------------------
@import 'tools/_mixins-animations';
@import 'tools/_mixins-grid';
@import 'tools/_mixins-type';

//----------------------------------------------
// Tools: Extends
//----------------------------------------------
@import 'tools/_extends-type';
@import 'tools/_extends';

//----------------------------------------------
// Vendor: Normalize
//----------------------------------------------
@import 'vendor/_normalize';
@import 'base/_normalizer';

//----------------------------------------------
// Base
//----------------------------------------------
//@import 'base/_buttons';
@import 'base/_code';
@import 'base/_forms';
@import 'base/_links';
@import 'base/_lists';
@import 'base/_media';
@import 'base/_typography';

//----------------------------------------------
// Vendor
//----------------------------------------------
@import 'vendor/_zoom';

//----------------------------------------------
// Regions
//----------------------------------------------
@import 'regions/_footer';
@import 'regions/_header';

//----------------------------------------------
// Components
//----------------------------------------------
@import 'components/_contact';
@import 'components/_form';
@import 'components/_mast';
@import 'components/_popup';
@import 'components/_post';
@import 'components/_posts';
@import 'components/_posts-2';
@import 'components/_posts-4';
@import 'components/_posts-tienda';
@import 'components/_related';
@import 'components/_subscribe';
@import 'components/_zoom';
@import 'components/_navigation-post';
//----------------------------------------------
// Utils
//----------------------------------------------
@import 'utils/_animations-keyframes';
@import 'utils/_decor';
@import 'utils/_helpers-grid';
@import 'utils/_helpers';
@import 'utils/_page-transitions';
